<div class="d-flex justify-content-center" *ngIf="auth.isAuthenticated() && visible">
  <div class="d-flex justify-content-start flex-column product">
    <div class="product-title-container jumbotron">
      <h1><a href="{{ product.url }}">{{ product.name }}</a></h1>
    </div>
    <div class="alert d-flex justify-content-start flex-wrap">
      <div class="alert product-img-container col-lg-3 col-md-6 col-sm-12 col-xs-12">
        <a href="{{ product.url }}"><img class="img-responsive img-product" src="{{ product.image }}" alt="Card image cap"></a>
      </div>
      <div class="alert product-description-container col-lg-9 col-md-6 col-sm-12 col-xs-12">
        <div>
          <h4>Description:</h4>
          <h6>{{ product.description }}</h6>
        </div>
        <div>
          <h4>Last price:</h4>
          <h1 class="text text-success">{{ lastPrice | currency: currency.currentRate }} {{ currency.currentCurrency }}</h1>
        </div>
      </div>
    </div>
    <div class="container-fluid jumbotron">
      <div class="d-flex justify-content-center">
        <ngx-charts-line-chart [results]="priceData" [view]="view" [scheme]="colorScheme" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="false" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel" [autoScale]="autoScale">
        </ngx-charts-line-chart>
      </div>
    </div>
  </div>
</div>
<spinner backgroundColor="#343A40" spinner="sk-spinner-pulse"></spinner>