<div class="card">
  <div class="alert">
    <span class="badge badge-success">{{ product.status }}</span>
  </div>
  <div class="alert img-container">
    <a href="{{ product.url }}"><img class="img-responsive img-product" src="{{ product.image }}" alt="Card image cap"></a>
  </div>
  <div class="card-body fixed-body">
    <a href="{{ product.url }}"><h4 class="card-title">{{ product.name }}</h4></a>
    <p class="card-text">{{ product.description }}</p>
  </div>
  <div class="card-footer">
    <div class="d-flex justify-content-around">
      <div class="container">
        <h5 class="text text-bold">{{ product.price }} BYN</h5>
      </div>
      <div *ngIf="canBeWatched">
        <a (click)="watch(product)" role="button" title="Add to watched"><i class="fa fa-eye" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</div>