.search-container {
  width: 80%;
}

.search-box {
  width: 50%;
}

.fa-spin {
  letter-spacing: normal;
  font-size: 1em;
}

.go-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

app-product-list {
  width: 100%;
}