<div class="d-flex justify-content-center">
  <div class="jumbotron d-flex flex-column ">
    <div class="alert">
      <h2>Start your search here</h2>
    </div>
    <div class="d-flex flex-row justify-content-center">
      <div>
        <div class="input-group">
          <input (keyup)="onKey($event)" class="form-control" type="search" id="example-search-input">
          <span class="input-group-btn">
            <button (click)="search()" class="btn btn-primary" id="search">Go</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center">
  <app-product [showedProducts]="showedProducts" infiniteScroll [infiniteScrollDistance]="1.5" [infiniteScrollThrottle]="50" (scrolled)="onScroll()"></app-product>
</div>
