app-root {
  min-height: calc(100vh);
  display: flex;
  flex-direction: column;
}

.spinner-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}